body,
html {
  width: 100%;
  height: 100%;
  position: relative;
}
* {
  padding: 0;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
div,
header,
section,
main,
aside,
article,
footer,
ul,
ol,
li,
form,
input,
textarea,
button,
select,
option,
label,
img,
figure,
audio,
a,
nav {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: normal;
}
:root {
  --body_bg: #303136;
  --page_bg: #fff;
  --white: #fff;
  --black: #000;
  --White_Mode: #eeeef1;
  --white_secondary: #dbdce2;
  --Black_Mode: #000;
  --Black_Mode_change: #c3bbbb;
  --Primary_Color: #24252a;
  --Primary_Color_Change: #b7b8be;
  --Secondary_Color: #454857;
  --Sign_In_color: #f3f4f4;
  --hover_sign_in: #858a9f;
  --anchor_blue: #3199ca;
  --light_anchor_blue: #81c2e0;
  --paragraph_color: #676771;
  --label_color: #888c9a;
  --Header_color: #6a6f75;
  --btn_text_color: #c5cacd;
  --btn_text_color_change: #8c9092;
  --_hover_btn_color: #f3f4f4;
}
:root {
  --h1_size: 36px;
  --h1_line_Height: 42px;
  --h2_size: 32px;
  --h2_line_Height: 38px;
  --h3_size: 28px;
  --h3_line_Height: 32px;
  --h4_size: 24px;
  --h4_line_Height: 28px;
  --h5_size: 20px;
  --h5_line_Height: 24px;
  --h6_size: 16px;
  --h6_line_Height: 20px;
  --Default_size: 14px;
  --Default_line_heihgt: 20px;
  --Small_size: 12px;
  --Small_line_height: 18px;
  --Tiny_size: 10px;
  --Tiny_line_height: 16px;
  /* border-radius*/
  --border_radius_1: 2px;
  --border_radius_2: 3px;
  --border_radius_3: 5px;
  --border_radius_4: 7px;
  --border_radius_5: 9px;
  --border_radius_6: 11px;
  --border_radius_7: 13px;
  --border_radius_8: 15px;
  --border_radius_9: 17px;
  --border_radius_10: 19px;
}
h1 {
  font-size: var(--h1_size);
  line-height: var(--h1_line_Height);
}
h2 {
  font-size: var(--h2_size);
  line-height: var(--h2_line_Height);
}
h3 {
  font-size: var(--h3_size);
  line-height: var(--h3_line_Height);
}
h4 {
  font-size: var(--h4_size);
  line-height: var(--h4_line_Height);
}
h5 {
  font-size: var(--h5_size);
  line-height: var(--h5_line_Height);
}
h6 {
  font-size: var(--h6_size);
  line-height: var(--h6_line_Height);
}
.Default_font {
  font-size: var(--Default_size);
  line-height: var(--Default_line_heihgt);
}
.Small_font {
  font-size: var(--Small_size);
  line-height: var(--Small_line_height);
}
.Tiny_font {
  font-size: var(--Tiny_size);
  line-height: var(--Tiny_line_height);
}
.Medium_font {
  font-weight: 500px;
}
.Bold_font {
  font-weight: 700px;
}
/* Margin_sizes */
.mg1 {
  margin: 4px;
}
.mg2 {
  margin: 8px;
}
.mg3 {
  margin: 12px;
}
.mg4 {
  margin: 16px;
}
.mg5 {
  margin: 20px;
}
.mg6 {
  margin: 24px;
}
.mg7 {
  margin: 28px;
}
.mg8 {
  margin: 32px;
}
.mg9 {
  margin: 36px;
}
.mg10 {
  margin: 40px;
}
/* Margin_left */
.mg_l_1 {
  margin-left: 4px;
}
.mg_l_2 {
  margin-left: 8px;
}
.mg_l_3 {
  margin-left: 12px;
}
.mg_l_4 {
  margin-left: 16px;
}
.mg_l_5 {
  margin-left: 20px;
}
.mg_l_6 {
  margin-left: 24px;
}
.mg_l_7 {
  margin-left: 28px;
}
.mg_l_8 {
  margin-left: 32px;
}
.mg_l_9 {
  margin-left: 36px;
}
.mg_l_10 {
  margin-left: 40px;
}
/* Margin_right */
.mg_r_1 {
  margin-right: 4px;
}
.mg_r_2 {
  margin-right: 8px;
}
.mg_r_3 {
  margin-right: 12px;
}
.mg_r_4 {
  margin-right: 16px;
}
.mg_r_5 {
  margin-right: 20px;
}
.mg_r_6 {
  margin-right: 24px;
}
.mg_r_7 {
  margin-right: 28px;
}
.mg_r_8 {
  margin-right: 32px;
}
.mg_r_9 {
  margin-right: 36px;
}
.mg_r_10 {
  margin-right: 40px;
}
/* margin bottom */
.mg_b_1 {
  margin-bottom: 4px;
}
.mg_b_2 {
  margin-bottom: 8px;
}
.mg_b_3 {
  margin-bottom: 12px;
}
.mg_b_4 {
  margin-bottom: 16px;
}
.mg_b_5 {
  margin-bottom: 20px;
}
.mg_b_6 {
  margin-bottom: 24px;
}
.mg_b_7 {
  margin-bottom: 28px;
}
.mg_b_8 {
  margin-bottom: 32px;
}
.mg_b_9 {
  margin-bottom: 36px;
}
.mg_b_10 {
  margin-bottom: 40px;
}
/* Margin_top_bottom */
.mg_tb_1 {
  margin: 4px 0px;
}
.mg_tb_2 {
  margin: 8px 0px;
}
.mg_tb_3 {
  margin: 12px 0px;
}
.mg_tb_4 {
  margin: 16px 0px;
}
.mg_tb_5 {
  margin: 20px 0px;
}
.mg_tb_6 {
  margin: 24px 0px;
}
.mg_tb_7 {
  margin: 28px 0px;
}
.mg_tb_8 {
  margin: 32px 0px;
}
.mg_tb_9 {
  margin: 36px 0px;
}
.mg_tb_10 {
  margin: 40px 0px;
}
/* padding */
.pd1 {
  padding: 4px;
}
.pd2 {
  padding: 8px;
}
.pd3 {
  padding: 12px;
}
.pd4 {
  padding: 16px;
}
.pd5 {
  padding: 20px;
}
.pd6 {
  padding: 24px;
}
.pd7 {
  padding: 28px;
}
.pd8 {
  padding: 32px;
}
.pd9 {
  padding: 36px;
}
.pd10 {
  padding: 40px;
}
/* padding left right */
.pd_lr_1 {
  padding: 0px 4px;
}
.pd_lr_2 {
  padding: 0px 8px;
}
.pd_lr_3 {
  padding: 0px 12px;
}
.pd_lr_4 {
  padding: 0px 16px;
}
.pd_lr_5 {
  padding: 0px 20px;
}
.pd_lr_6 {
  padding: 0px 24px;
}
.pd_lr_7 {
  padding: 0px 28px;
}
.pd_lr_8 {
  padding: 0px 32px;
}
.pd_lr_9 {
  padding: 0px 36px;
}
.pd_lr_10 {
  padding: 0px 40px;
}
/* padding right */
.pd_tb_1 {
  padding: 4px 0px;
}
.pd_tb_2 {
  padding: 8px 0px;
}
.pd_tb_3 {
  padding: 12px 0px;
}
.pd_tb_4 {
  padding: 16px 0px;
}
.pd_tb_5 {
  padding: 20px 0px;
}
.pd_tb_6 {
  padding: 24px 0px;
}
.pd_tb_7 {
  padding: 28px 0px;
}
.pd_tb_8 {
  padding: 32px 0px;
}
.pd_tb_9 {
  padding: 36px 0px;
}
.pd_tb_10 {
  padding: 40px 0px;
}
/* padding:left_right */
.pd_lr_tb_1 {
  padding: 4px 12px;
}
.pd_lr_tb_2 {
  padding: 6px 14px;
}
.pd_lr_tb_3 {
  padding: 8px 16px;
}
.pd_lr_tb_4 {
  padding: 10px 18px;
}
.pd_lr_tb_5 {
  padding: 12px 20px;
}
.pd_lr_tb_6 {
  padding: 14px 22px;
}
.pd_lr_tb_7 {
  padding: 16px 24px;
}
.pd_lr_tb_8 {
  padding: 18px 26px;
}
.pd_lr_tb_9 {
  padding: 20px 28px;
}
.pd_lr_tb_10 {
  padding: 22px 30px;
}
/* gaps */
.gap_1 {
  gap: 4px;
}
.gap_2 {
  gap: 8px;
}
.gap_3 {
  gap: 12px;
}
.gap_4 {
  gap: 16px;
}
.gap_5 {
  gap: 20px;
}
.gap_6 {
  gap: 24px;
}
.gap_7 {
  gap: 28px;
}
.gap_8 {
  gap: 32px;
}
.gap_9 {
  gap: 36px;
}
.gap_10 {
  gap: 40px;
}
/* Flex */
.flex_sp_column {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.flex_sa_row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.inline_flex {
  display: inline-flex;
}
.justify_between {
  justify-content: space-between;
}
.justify_around {
  justify-content: space-around;
}
.justify_evenly {
  justify-content: space-evenly;
}
/* display_grid */
.grid {
  display: grid;
}
/* float */
.float_r {
  float: right;
}
.float_l {
  float: left;
}
.tt {
  color: red;
}
/* align_center */
.align_center {
  vertical-align: middle;
}
.text_align_r {
  text-align: right;
}
.secondary_color {
  background-color: var(--Secondary_Color);
}
.Primary_Color {
  background-color: var(--Primary_Color);
}
.btn_text_color {
  color: var(--btn_text_color);
}
/* Size_variations */
.UI_icon_s_size {
  width: 20px;
  height: 20px;
  border-radius: 8px;
}
.UI_icon_m_size {
  width: 40px;
  height: 40px;
  border-radius: 6px;
}
.UI_icon_l_size {
  width: 60px;
  height: 60px;
  border-radius: 4px;
}
.UI_icon_xl_size {
  width: 80px;
  height: 80px;
  border-radius: 4px;
}
.XF-Sign_up_page {
  width: 100%;
  height: auto;
  margin: auto;
  font-family: "Zoho_Puvi_Light";
  display: grid;
}
.XF-Sign_up_page .XF-Sign_Up_Heads {
  width: 50%;
  display: grid;
  margin: auto;
  grid-template-rows: repeat(2, 1fr);
  text-align: center;
}
.XF-Sign_up_page .XF-Sign_Up_Heads .XF-Main_Head_prefix {
  font-size: var(--h1_size);
  color: var(--label_color);
  font-weight: 600;
}
.XF-Sign_up_page .XF-Sign_Up_Heads .XF-Main_Head_prefix .XF-Main_Head_suffix {
  color: var(--anchor_blue);
  font-weight: 600;
}
.XF-Sign_up_page .XF-Sign_Up_Heads .XF-Sub_Head {
  font-size: var(--h6_size);
  color: var(--paragraph_color);
  font-weight: 600;
}
.XF-Sign_up_page .XF-Sign_Up_Box {
  min-width: 600px;
  height: auto;
  margin: auto;
  border-radius: var(--border_radius_5);
  overflow: hidden;
}
@media (max-width:600px) {
  .XF-Sign_up_page .XF-Sign_Up_Box {
    min-width: 150px;
  }
}
@media (min-width:768px) {
  .XF-Sign_up_page .XF-Sign_Up_Box {
    min-width: 400px;
  }
}
@media (min-width:992px) {
  .XF-Sign_up_page .XF-Sign_Up_Box {
    min-width: 500px;
  }
}
@media (min-width:1200px) {
  .XF-Sign_up_page .XF-Sign_Up_Box {
    min-width: 600px;
  }
}
.XF-Sign_up_page .XF-Sign_Up_Box .XF-Header {
  width: auto;
  height: 50px;
  font-size: var(--h5_size);
  color: var(--Header_color);
  text-align: center;
  line-height: 45px;
  font-weight: 600;
}
.XF-Sign_up_page .XF-Sign_Up_Box .XF-Form_Box {
  width: auto;
  height: 100%;
  display: grid;
  padding: 10px 50px 50px 30px;
}
.XF-Sign_up_page .XF-Sign_Up_Box .XF-Form_Box .XF-form_elements {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  border-bottom: 1px dotted var(--paragraph_color);
}
.XF-Sign_up_page .XF-Sign_Up_Box .XF-Form_Box .XF-form_elements .XF-Sign_up_field {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
}
.XF-Sign_up_page .XF-Sign_Up_Box .XF-Form_Box .XF-form_elements .XF-Sign_up_field .XF-sign_up_label {
  color: var(--label_color);
  font-weight: 600;
  font-size: var(--h6_size);
}
.XF-Sign_up_page .XF-Sign_Up_Box .XF-Form_Box .XF-form_elements .XF-Sign_up_field .XF-sign_up_input {
  border: none;
  outline: none;
  border-radius: var(--border_radius_3);
  font-size: var(--h5_size);
  color: var(--btn_text_color);
}
.XF-Sign_up_page .XF-Sign_Up_Box .XF-Form_Box .XF-form_elements .XF-Sign_up_field .XF-sign_up_input:focus {
  box-shadow: rgba(151, 226, 174, 0.725) 0px 1px 1px, rgba(151, 226, 174, 0.725) 0px 0px 1px 1px;
}
.XF-Sign_up_page .XF-Sign_Up_Box .XF-Form_Box .XF-form_elements .XF-Terms_policy {
  width: 100%;
  height: 50px;
  display: grid;
  grid-template-columns: 10px 1fr;
  align-items: center;
}
.XF-Sign_up_page .XF-Sign_Up_Box .XF-Form_Box .XF-form_elements .XF-Terms_policy .XF-check_Box {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.XF-Sign_up_page .XF-Sign_Up_Box .XF-Form_Box .XF-form_elements .XF-Terms_policy .XF-text {
  color: var(--paragraph_color);
  font-weight: 600;
  font-size: var(--Default_size);
  letter-spacing: 0.5px;
}
.XF-Sign_up_page .XF-Sign_Up_Box .XF-Form_Box .XF-form_elements .XF-Sign_up_btn {
  width: 100px;
  background-color: var(--anchor_blue);
  border: none;
  outline: none;
  color: var(--btn_text_color);
  border-radius: var(--border_radius_2);
  font-size: var(--h6_size);
  font-weight: bold;
}
.XF-Sign_up_page .XF-Sign_Up_Box .XF-Form_Box .XF-form_elements .XF-Sign_up_btn:hover {
  cursor: pointer;
  color: var(--_hover_btn_color);
  background-color: var(--light_anchor_blue);
}
.XF-Sign_up_page .XF-Sign_Up_Box .XF-Form_Box .XF-Sign_In_Box {
  display: grid;
  grid-template-rows: 1fr 50px;
  text-align: center;
}
.XF-Sign_up_page .XF-Sign_Up_Box .XF-Form_Box .XF-Sign_In_Box .XF-Sign_In_btn {
  border-radius: var(--border_radius_2);
  font-size: var(--h6_size);
  font-weight: bold;
  border: none;
  outline: none;
}
.XF-Sign_up_page .XF-Sign_Up_Box .XF-Form_Box .XF-Sign_In_Box .XF-Sign_In_btn:hover {
  cursor: pointer;
  color: var(--_hover_btn_color);
  background-color: var(--hover_sign_in);
}
.XF-Sign_up_page .XF-Sign_Up_Box .XF-Form_Box .XF-Sign_In_Box .XF-paragraph {
  font-weight: 700;
}
.XF-Sign_up_page .XF-Sign_Up_Box .XF-Form_Box .XF-Sign_In_Box .XF-paragraph:hover {
  cursor: pointer;
  transform: scale(0.98);
  color: var(--Sign_In_color);
}
.XF-Sign_up_page .XF-Footer {
  width: 100%;
  margin: auto;
  text-align: center;
  color: var(--paragraph_color);
  font-weight: 600;
}
.XF-Sign_up_page .XF-Footer .XF-anchor_text {
  text-decoration: none;
  color: var(--anchor_blue);
}
.XF-sign_up_mode {
  width: 50px;
  height: 50px;
  position: absolute;
  left: 25px;
  top: 50px;
  background-color: var(--black);
  cursor: pointer;
  border-radius: 50%;
}
.XF-sign_up_mode .XF-mode_icon {
  width: 100%;
  height: 100%;
  color: var(--white);
  position: absolute;
  font-size: 30px;
  line-height: 50px;
  text-align: center;
}
.XF-sign_up_mode .XF-mode_checkBox {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.d-mode_to_l-mode {
  transform: scale(0.9);
  background-color: var(--white);
}
.d-mode_to_l-mode .icon_color {
  color: var(--black);
}
.body_bg {
  background-color: var(--white);
}
.light {
  background-color: var(--White_Mode) !important;
}
.secondary_color_change {
  background-color: var(--white_secondary);
  color: #5a5959 !important;
}
.Black_Mode_change {
  background-color: var(--Black_Mode_change);
}
.Primary_Color_Change {
  background-color: var(--Primary_Color_Change);
}
.btn_text_color_change {
  color: var(--btn_text_color_change);
}
.dark_mode {
  background-color: var(--Black_Mode) !important;
}
