.Right_Nav{
    width: 50%;
    height: auto;
    text-align: right;
    display: inline-block;
}

.Right_Nav > .Items{
    vertical-align: middle;
    color: white;
    margin: 0px 20px;
    cursor: pointer;
}

.Right_Nav > .Profile_Image{
    width: 40px;
    height: 40px;
    border-radius: 5px;
    display: inline-block;
    background-image: url("../Images/Profile_pic.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 42px;
    border-radius: 3px;
}