html,body{
    width: 100%;
    height: 100%;
    background-image: url("/Images/Analytic_bg.jpg");
    background-repeat: no-repeat;
    background-size: 3000px;
    background-position: -8px -685px;
    overflow: hidden;
    position: relative;
    font-family: 'Zoho_Puvi_Regular';
}

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.Analytic_DashBoard{
    width: 80%;
    height: 100%;
    margin: 30px auto;
}

.clear:before,
.clear:after {
    content: " ";
    display: table;
}

.clear:after {
    clear: both;
}

.Analytic_Nav_Bar{
    width: 100%;
    height: auto;
    padding: 10px 0px;
}
.Explore{
    background-color: white;
    position: fixed;
    right: 200px;
    right: 0;
    top: 55%;
    transform: rotate(90deg);
    transform-origin: top right;
    padding: 10px 15px;
    border-radius: 3px;
    font-family: 'Zoho_Puvi_SemiBold';
    display: inline-block;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}
