:root {
  --body_bg: #303136;
  --page_bg: #24252a;
  --element_bg: #454857;
  --label_color: #4e535d;
  --text_color: #8b8f91;
  --heading_color: #8e929f;
  --button_color: #e0e2e5;
  --sign_up_bg: #23b1d0;
  --sign_up_light_bg: #92d4e3;
  --sign_up_color: #ffffff;
  --anchor_color: #3da2d7;
  --sign_in_light_bg: #9b9da5;
  --light_para: #b5afaf;
  --white: #fff;
  --black: #000;
}
[data-theme="light"] {
  --body_bg: #f1f4f7;
  --page_bg: #ffffff;
  --element_bg: #efecec;
  --label_color: #2e2e2f;
  --text_color: #acb7b9;
  --heading_color: #8f8888;
  --button_color: #a2a4a8;
  --sign_up_bg: #2c66dd;
  --sign_up_color: #f8f3f3;
  --anchor_color: #3da2d7;
}
