:root {
  --h1_size: 36px;
  --h1_line_Height: 42px;
  --h2_size: 32px;
  --h2_line_Height: 38px;
  --h3_size: 28px;
  --h3_line_Height: 32px;
  --h4_size: 24px;
  --h4_line_Height: 28px;
  --h5_size: 20px;
  --h5_line_Height: 24px;
  --h6_size: 16px;
  --h6_line_Height: 20px;
  --Default_size: 14px;
  --Default_line_heihgt: 20px;
  --Small_size: 12px;
  --Small_line_height: 18px;
  --Tiny_size: 10px;
  --Tiny_line_height: 16px;
  /* border-radius*/
  --border_radius_1: 2px;
  --border_radius_2: 3px;
  --border_radius_3: 5px;
  --border_radius_4: 7px;
  --border_radius_5: 9px;
  --border_radius_6: 11px;
  --border_radius_7: 13px;
  --border_radius_8: 15px;
  --border_radius_9: 17px;
  --border_radius_10: 19px;
}
h1 {
  font-size: var(--h1_size);
  line-height: var(--h1_line_Height);
}
h2 {
  font-size: var(--h2_size);
  line-height: var(--h2_line_Height);
}
h3 {
  font-size: var(--h3_size);
  line-height: var(--h3_line_Height);
}
h4 {
  font-size: var(--h4_size);
  line-height: var(--h4_line_Height);
}
h5 {
  font-size: var(--h5_size);
  line-height: var(--h5_line_Height);
}
h6 {
  font-size: var(--h6_size);
  line-height: var(--h6_line_Height);
}
.Default_font {
  font-size: var(--Default_size);
  line-height: var(--Default_line_heihgt);
}
.Small_font {
  font-size: var(--Small_size);
  line-height: var(--Small_line_height);
}
.Tiny_font {
  font-size: var(--Tiny_size);
  line-height: var(--Tiny_line_height);
}
.Medium_font {
  font-weight: 500px;
}
.Bold_font {
  font-weight: 700px;
}
